


header {
    background-color: #c6f2f6;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}


img {
    border-radius: 20%;
    max-width: 190px;
    margin: 10px auto;
    display: block;
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: #1dc1c9;
    margin-bottom: 20px;
    border-radius: 100px;
}

nav li {
    margin-right: 20px;
}


section {
    padding: 20px;
    background-color: #13f3ff;
    margin-bottom: 20px;
    border-radius: 20px;
}


footer {
    text-align: center;
    background-color: #0baae9;
    padding: 5px;
    border-radius: 10px;
}
